@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portal {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272727;
    height: auto;
}
.container .header {
    height: 20vh;
    margin-top: 8rem;
}

.title-content {
    text-align: center;
    width: 100%;
    font: 700 4.8rem Montserrat;
    color: #404040;
}

.description-content {
    text-align: center;
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 6rem 0;
}

.service {
    width: 18%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-service {
    display: flex;
    border: 10px solid #ececec;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: border-color 0.4s;
    margin: 0 auto;
}

.icon-service img {
    width: 5.8rem;
}

.title-service {
    width: min-content;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    border-bottom: 3px solid var(--btn-active);
}

.description-service {
    text-align: center;
    font: 400 1.4rem Montserrat;
    line-height: 2.5rem;
}
.box {
    width: min-content;
    float: left;
}
.portal-item {
    width: 34%;
}

.portal-item-margin {
    margin: 0 4%;
}

.section-portal {
    display: flex;
  }

  .portal-item {
    flex: 1;
  }

  .portal-item p {
    margin-bottom: 15px;
  }


.portal-font {
    font: 300 5rem 'Lato', sans-serif;
    text-align: end;
}

.portal-items-cicle {
    width: 28%
}

.portal-item-cicle {
    display: block;
    min-height: 70px;
    margin-bottom: 25px;
}

.portal-description{
    font: 500 1.4rem Montserrat;
}

.portal-item-title{
    font: 600 1.8rem Montserrat;
}

.border-red {
    text-align: center;
    border-bottom: 3px solid var(--btn-active);
}

.border-green {
    border-bottom: 3px solid #34d293;
}

.border-yellow {
    border-bottom: 3px solid #f7d861;
}

.border-blue {
    border-bottom: 3px solid #3ab0e2;
}

.icon-service-red:hover {
    border-color: var(--btn-active);
}

.icon-service-green:hover {
    border-color: #34d293;
}

.icon-service-yellow:hover {
    border-color: #f7d861;
}

.icon-service-blue:hover {
    border-color: #3ab0e2;
}

.main-services-title{
    background: url(https://www.municipioonline.com.br/design/portal/images/lines.png) repeat-x center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-services-title h5{
    width: 200px;
    background-color: white;
    text-align: center;
    font-size: 1.6rem;
}

.main-services ul {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.main-services li {
    display: inline;
    padding: 0 5px;
}

.form {
    width: 100%;
    background: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.form form {
    margin-bottom: 20px;
}


.form form .form-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form form .input {
    width: 32%;
}

.form-info {
    text-align: center;
    margin: 0 0px 80px 0;
}

.form-info h4{
    font-size: 5rem;
}

.form form input , .form form textarea {
    border-radius: 3px;
}

.form form input, .form form textarea{
    width: 100%;
    padding: 6px 12px;
    border: solid 2px white;
}

.form form input:focus, .form form textarea:focus {
    border-color: #0c158d9d;
}

.form form .textarea {
    width: 100%;
}

.form form textarea {
    width: 100%;
    margin-bottom: 20px;
}

.form form button {
    color: #FFF;
    background: #FC6D6D;
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    float: right;
    transition: 0.5s;
}

.form form button:hover {
    background: #cb4332;
}

@media(max-width: 950px) {

    .services {
        flex-direction: column;
    }
    .service {
        width: 100%;
    }
    .section-portal {
        flex-direction: column;
    }
    .portal-item{
        width: 100%;
    }
    .portal-font {
        font-size: 4rem;
        margin-bottom: 15px;
        text-align: center;
    }
    .portal-items-cicle {
        width: 100%;
    }

    .portal-description {
        margin-bottom: 20px;
    }
    .form form .form-input {
        flex-direction: column;
    }
    .form form .input {
        width: 100%;
        margin-top: 20px;
    }

    .portal-item-margin{
        margin: 0 0;
    }
    .main-services ul {
        flex-direction: column;
    }
    .main-services ul {
        padding: 8px 0px;
    }

    .container .header {
        margin-top: 12rem;
    }
}