nav{
    width: 100%;
    padding-right: calc(8rem + 15px);
}
nav ul li{
    display: inline;
    padding: 0 5px;
}
nav ul li a{
    display: inline;
    color: #000000;
    transition: color 0.3s;
}

nav ul li a:hover{
    display: inline;
    color: var(--btn-active);
}
